@media screen and (min-height: 850px) {
   .forecastList{
       margin-top: 110px;
   }
}
@media screen and (max-width: 400px) {
.left-side{
    width: 50%;
}
    img{
        height: 75px;
    }
    .right-side{
        overflow: auto;

    }

    .weather-box {
        height: 80%;
    }
    .left-side{
        position: absolute;
        width: 100%;
        height: 50%;
    }
    .left-side img{
        display: none;
    }
    .nextForecast{
        margin-top: 170px;
    }
    .description{
        font-size: 20px;
    }
    .degree{
        font-size: 60px;
    }
    .place{
        font-size: 15px;
    }
    .forecastList:first-child{
        margin-top: 270px;
    }
    .getLocation{
        font-size: 10px;
        padding: 5px 10px;
        margin-bottom: 20px;
    }
}